

/* Felles */ 
.hidden{
    display: none;
}

body{
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
}

header{
    grid-area: header;
    width: 100%;
}


header nav section{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 10px 0 0 0;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 0 20px 0;
}

header nav section a{
    width: 55px;
    list-style: none;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    color: #000;
}

.logobilde{
    width: 75px;
    height: 75px;
}

#contact-btn{
    text-decoration: none;
    list-style: none;
    text-align: center;
    height: 20px;
    width: 70px;
    padding: 10px;
    background-color: #e6bd43;
    font-weight: bold;
}

#contact-btn:hover{
    background-color: #000;
    color: #e6bd43;
}

main{
    grid-area: main;

}

footer{
    grid-area: footer;
}

#bottom-banner{
    background-color: #252525;
}

#bottom-banner h4{
    color: #fff;
}

#bottom-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  40px;
}

#bottom-banner ul{
    padding: 0;
}

.social-media-icons{
    color: #fff;
    text-decoration: none;
    font-size: xx-large;
    padding: 10px;
}

.social-media-icons:visited{
    color: #fff;
    text-decoration: none;
}


/* index.html */

#headline{
    display: flex;
    flex-direction: column;
    background-image: url("https://cdn.pixabay.com/photo/2016/12/01/13/10/lightbulb-1875247_960_720.jpg");
    background-position: right 40% top;  /* Linjen er skrevet med hjelp fra https://developer.mozilla.org/en-US/docs/Web/CSS/background-position */
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#headline h1{
    width: 300px;
    text-align: center;
    height: 20px;
    font-size: xx-large;
}

#headline p{
    text-align: center;
    max-width: 600px;
}

#index-subheading{
    text-align: center;
    padding: 60px 30px;
}

#read-more-about-our-services-btn{
    background-color: #e6bd43;
    padding: 10px;
    color: #000;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}

#about-our-company{
    display: flex;
    flex-direction: column;
    background-color: #e6bd43;
    align-items: center;
}

#about-our-company section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-our-company img{
    max-width: 250px;
    padding: 50px 0 0 0;
}

#about-our-company p{
    max-width: 360px;
    text-align: center;
    padding: 10px 50px;;
}

#read-more-about-us-btn{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    border-color: #000;
    padding: 15px;
    margin: 20px 20px 70px 20px;
}

#our-services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#our-services h3{
    font-size: x-large;
    margin: 40px 0;
}

#our-services article{
    text-align: center;
    max-width: 300px;
    font-size: large;
    margin: 30px;
}

#our-services article i{
    font-size: xx-large;
}

#our-services article h4{
    font-size: x-large;
}

#newsletter{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(189, 188, 188);
    padding: 30px 0 40px 0;
}

#newsletter h3{
    max-width: 300px;
    font-size: x-large;
}

#newsletter-signup{
    height: 40px;
    border: none;
    padding: 0;
}

#sign-me-up-btn{
    background-color: #e6bd43;
    font-weight: bold;
    height: 40px;
    border: solid;
    border-color: #e6bd43;
    padding: 0;
}

/* about.html */

#about-company-header{
    display: flex;
    background-image: url("https://cdn.pixabay.com/photo/2016/12/01/13/10/lightbulb-1875247_960_720.jpg");
    background-position: right 40% top;  /* Linjen er skrevet med hjelp fra https://developer.mozilla.org/en-US/docs/Web/CSS/background-position */
    background-size: cover;
    justify-content: center;
}

#about-company-header article{
    background-color: rgba(196, 196, 196, 0.795);
    width: 50%;
    margin: 20px;
    padding: 30px;
}

#get-in-touch-btn{
    background-color: #e6bd43;
    font-weight: bold;
    height: 40px;
    border: solid;
    border-color: #e6bd43;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

#our-services-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0;
}

.branding-article{
    max-width: 300px;
    margin: 20px;
}

.branding-article i{
    font-size: x-large;
}

#client-logos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6bd43;
    padding: 40px 0;
    margin: 0;
}

#client-logos1 img{
    padding: 20px;
}

#client-logos2{
    margin: 0 0 40px 0;
}

#contact-us-section{
    background: rgb(224, 224, 224);
    margin: 0;
    padding: 20px;
}

#contact-us-section h4{
    margin: 0;
    padding: 0;
}

#contact-us-section h3{
    text-align: center;
    margin: 40px 0 50px 0;
}

#contact-us-section form{
}

#name-input, #subject-input{
    border: none;
    height: 30px;
    width: 100%;
} 

#message-input{
    height: 200px;
    border: none;
    width: 100%;
    margin: 0 0 10px 0;
}

#send-message-btn{
    border-radius: 0;
    border: none;
    background-color: #e6bd43;
    padding: 10px;
    font-weight: bold;
    margin: 0 0 80px 0;
}

#location{
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
}

#location i{
    color: #474747;
}

#location p{
    margin: 0 15px 0;
}

#phone{
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
}

#phone i{
    color: #474747;
}

#phone p{
    margin: 0 15px 0;
}

#hiof-email{
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;
}

#hiof-email i{
    color: #474747;

}

#hiof-email p{
    margin: 0 15px 0;
}



#map{
    width: 100%;
    
}

/* portfolio.html */

#portfolio-heading{
    display: flex;
    justify-content: center;
    background-image: url("https://cdn.pixabay.com/photo/2016/12/01/13/10/lightbulb-1875247_960_720.jpg");
    background-position: right 40% top;  /* Linjen er skrevet med hjelp fra https://developer.mozilla.org/en-US/docs/Web/CSS/background-position */
    background-size: cover;
    height: 400px;
    width: 100%;
}

#portfolio-heading h1{
    margin: auto;
    font-size: xx-large;
}

#portfolio-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio-main h2{
    text-align: left;
    border-bottom: solid;
    border-bottom-color:#e6bd43;
    padding: 0 0 15px 0;
    width: 300px;
}

#portfolio-main p{
    font-weight: bold;
    text-align: left;
}

#explore-previous-jobs-section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#explore-previous-jobs-h2{
    width: 300px;
}

#explore-previous-jobs-section ul{
    margin: 50px auto;
    width: 100%;
}

#explore-previous-jobs-section ul li{
    display: inline-block;
    border: solid;
    border-color: #000;
    margin: 5px;
    list-style: none;
    height: 40px;
    width: 130px;
    text-align: center;
    align-self: center;
}

#explore-previous-jobs-section ul li a{
    list-style: none;
    text-decoration: none;
    color: #000;
    margin: 10px;
}

#jobs-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 692px;
}

#branding-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 350px;
    min-width: 200px;
    margin: 0 0 30px 0;
}

#design-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 350px;
    min-width: 200px;
    margin: 0 0 30px 0;
}

#development-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 350px;
    min-width: 200px;
    margin: 0 0 30px 0;
}

.large-img, .small-img{
    width: 300px;
    height: 300px;
}


/* Media queries */
@media only screen and (min-width: 850px) {

    /* FELLES */

    .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }

    header{
        grid-column: span 3;
    }

    header nav{
        display: flex;
        flex-direction: row;
    }

    header nav section{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 20px;
    }

    #menu-buttons{
        display: flex;
        justify-content: right;
    }

    #menu-buttons a{
        font-size: large;
    }

    #menu-buttons a:hover{
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: #e6bd43;

    }

    #logo-corner{
        display: flex;
        justify-content: left;
    }

    main{
        grid-column: span 3;
    }

    footer{
        grid-column: span 3;
    }


/* Index.htmk */

    #headline{
        height: 400px;
    }

    #index-subheading{
        font-size: x-large;
    }

    #about-our-company{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
        padding: 50px;
    }

    #about-our-company h3, #about-our-company p, #about-our-company a{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: left;
        margin: 0;
        padding: 10px 0;
    }

    #about-our-company p{
        max-width: 100%;
    }

    #about-our-company section{
        display: flex;
        width: 33%;
        height: 100%;
        align-items: baseline;
        margin: 0 0 0 20px;
    }

    #about-our-company section img{
        max-width: 100%;
        width: 400px;
    }

    #our-services{
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    #our-services section{
        display: flex;
        flex-direction: row;
    }

    #our-services h3{
        font-size: xx-large;
    }

    /* About.html */

    #about-company-header{
        display: flex;
        justify-content: right;
    }







}