

/* Felles */ 
.hidden{
    display: none;
}

body{
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "main" "footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

#bottom-banner{
    background-color: #252525;
}

#bottom-banner h4{
    color: #fff;
}

#bottom-banner{
    display: flex;
    justify-content: space-between;
}

body div header nav{
    display: flex;
    justify-content: space-between;
}

.social-media-icons{
    color: #fff;
    text-decoration: none;
    font-size: xx-large;
}

.social-media-icons:visited{
    color: #fff;
    text-decoration: none;
}


/* index.html */

#headline{
    background-color: grey;
}

/* about.html */

#map{
    width: 100%;
    
}

/* portfolio.html */

#branding-section article{
    max-width: 350px;
    min-width: 200px;
}

#design-section{
    max-width: 350px;
    min-width: 200px;
}

#development-section{
    max-width: 350px;
    min-width: 200px;
}


/* Media queries */
@media only screen and (min-width: 850px) {
}